
.mobilescreen-image{
  pointer-events: none;
	background-image: url(../img/screenshots/mobile.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
	height: 550px;
	left: calc(50% + 0.5px);
	position: absolute;
	top: 0px;
    -webkit-transform: translateX(-50%);
    
    transform: translateX(-50%) ;
    
	width: 315px;
	z-index: 2;

	border-radius: 60px;
}


.video{
  padding-left:5px; 
  border-radius:20px;
  }
  @media only screen and (max-width:1199px) {
    .mobilescreen-image {
        height: 570px;
        left: calc(50% + 0.5px);
        position: absolute;
        top: 0px;
        -webkit-transform: translateX(-50%);
     
        transform: translateX(-51%) ;
        
        width: 330px;
        z-index: 2;
    
        border-radius: 60px;
    }
    .video{
      position: relative;
      left: -5px;
      border-radius:20px;
      height: 515px;
      }
  }
  @media only screen and (max-width:991px) {
   
    .mobilescreen-image{
        background-image: url(../img/screenshots/mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        height: 450px;
        left: calc(50% + 0.5px);
        position: absolute;
        top: 6px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%) ;
        width: 261px;
        z-index: 2;
        border-radius: 60px;
    }
    .video{
      padding-left: 7px;
      border-radius:20px;
      height: 410px;
    
    }
    .swiper-slide.swiper-slide-active .post-media img{
		border-radius: 25px;
	}
  }
  @media only screen and (max-width:768px) {
   
    .mobilescreen-image {
        display: none;
    }
    .swiper-slide.swiper-slide-active .post-media img{
        border-radius: 20px;
        height: 50px;
    }
    .video{
      padding-left: 7px;
      border-radius:20px;
      height: 95vh;
     
    
    }
    
  }
  @media (max-width: 600px) {
    .swiper-slide.swiper-slide-active .post-media img{
		border-radius: 0px;
  }
  .video{
    padding-left: 7px;
    border-radius:20px;
    height: 75vh;
   
  
  }
  }

.post-media {
    position: relative;
}
.swiper-pagination-bullet{
	opacity: 1;
	background: #333333;
}
.swiper-pagination-bullet-active{
	background: #E65100;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
	bottom: -7px;
}
.post-media img {
    width: 100%;
}
.swiper-wrapper {
    padding: 30px 0 40px;

}
.swiper-slide.swiper-slide-active .post-media img {
    border-radius: 20px;
    height: 109%;
    
}
.owl-screenshots .swiper-button-next, .owl-screenshots .swiper-button-prev{

	font-size: 54px;

  
}
